clone/*/*.o
clone/dwm/dwm
clone/nsxiv/nsxiv
bin/inactive
.config/bash/history
.config/bash/#bashrc#
.config/tmux/plugins
.config/mpv/watch_later
.config/fish/functions
.config/fish/fish_variables
.config/fish/config.fish.save
.config/fish/local.fish
.config/kitty/#kitty.conf#
.config/nvim/spell
.config/nvim/lazy-lock.json
.config/lazygit/state.yml
