clone/dwm/config.h
clone/dwm/drw.o
clone/dwm/dwm
clone/dwm/dwm.o
clone/dwm/util.o
bin/inactive
.config/bash/history
.config/bash/#bashrc#
.config/tmux/plugins
.config/mpv/watch_later
.config/fish/fish_variables
.config/fish/config.fish.save
.config/kitty/#kitty.conf#
.config/nvim/spell
.config/nvim/lazy-lock.json
.config/lazygit/state.yml
