
.config/tmux/plugins
.config/mpv/watch_later
.config/bash/history
.config/fish/fish_variables
.config/fish/config.fish.save
.config/kitty/#kitty.conf#
.config/nvim/spell
.config/nvim/lazy-lock.json

