window#waybar {
    font-family: JetBrainsMonoNerd Font;
    font-size: 17px;
    font-weight: 600;
    color: #eee;
    transition-property: background-color;
    transition-duration: 0.5s;
    background-color: rgba(31, 32, 41, 0.9);
}

window#waybar.hidden {
    opacity: 0.5;
}

#workspaces button {
    padding: 1px 1px;
    margin: 3px 6px;
}

#workspaces button.active {
    color: #000;
    background: #F9E2AF;
    min-width: 40px;
}

#workspaces button.urgent {
    background-color: #f77;
}

#clock,
#pulseaudio,
#battery,
#tray,
#window {
    padding: 0px 10px;
    border-radius: 20px;
    background-color: transparent;
}

#custom-separator {
    color: #888;
}
