@define-color bg       #1f2029;
@define-color text     #e8e8eb;
@define-color accent   #f9e2af;
@define-color error    #f38ba8;

* {
	font-family: "JetBrainsMono NF";
	border: none;
	padding: 0;
	margin: 0;
	min-width: 12px;
	background: transparent;
	color: @text;
}

#workspaces, #bottom {
	background: alpha(@bg, 0.9);
	border-radius: 0 14px 14px 0;
	border: 1px solid alpha(@text, 0.1);
	border-left: none;
	padding: 5px;
}

#workspaces {
	padding: 8px 14px;
	margin-bottom: 10px;
}
#workspaces button {
	font-size: 0px;
	background: alpha(@text, 0.5);
	transition: all 0.2s ease-in-out;
	min-height: 12px;
	border-radius: 9px;
	margin: 5px 0;
}
#workspaces button.active {
	background: @accent;
	min-height: 34px;
}

#battery {
	font-size: 18px;
	font-weight: bold;
	color: @text;
}
#battery.warning, #battery.critical {
	color: @error;
}
#battery.icon {
	font-size: 36px;
	margin-bottom: -4px;
}

#custom-separator {
	margin: -10px 0;
	padding-right: 10px;
	font-size: 30px;
	color: alpha(@text, 0.4);
}

#clock {
	font-size: 21px;
	font-weight: bold;
}

#tray {
	padding: 4px 0;
	background: alpha(@text, 0.1);
	border-radius: 10px;
	margin-top: 5px;
}

tooltip, #tray menu {
	background: alpha(@bg, 0.9);
	border-radius: 8px;
	padding: 1px 2px;
	margin-top: 8px;
}
