input {
	mod-key "alt"
	touchpad { tap; natural-scroll; }
	warp-mouse-to-focus
}

layout {
	gaps 10
	background-color "transparent"
	center-focused-column "always"
	default-column-width { proportion 0.9; }
	focus-ring {
		width 2.5
		active-color "#ffffff40"
		inactive-color "#ffffff40"
	}
	border {
		width 0
		active-color "#00000000"
		inactive-color "#00000000"
	}
}
layer-rule {
	place-within-backdrop true
}

window-rule {
	geometry-corner-radius 10
	clip-to-geometry true
}

output "eDP-1" { scale 1.2; }
animations { slowdown 0.5; }
hotkey-overlay { skip-at-startup; }
prefer-no-csd
screenshot-path "~/Pictures/screenshots/%F_%H-%M-%S.png"
spawn-sh-at-startup "~/.config/niri/src/autostart"
// cursor { xcursor-theme "Bibata-Modern-Classic"; }

binds {
	mod+a { spawn-sh "menu run"; }
	mod+v { spawn-sh "menu clip"; }
	mod+period { spawn-sh "menu emoji"; }
	mod+shift+f { spawn-sh "nemo"; }
	mod+w { spawn-sh "helium"; }
	mod+shift+w { spawn-sh "helium --incognito"; }
	mod+t { spawn-sh "kitty"; }
	mod+e { spawn-sh "kitty nvim ."; }
	mod+n { spawn-sh "cd ~/notes && kitty nvim index.md"; }
	mod+p { spawn-sh "kitty htop"; }
	mod+r { spawn-sh "setbg -r"; }
	mod+b { spawn-sh "blue"; }
	mod+escape { spawn-sh "niri msg action power-off-monitors && lock"; }

	mod+h { focus-column-left; }
	mod+l { focus-column-right; }
	mod+shift+h { move-column-left; }
	mod+shift+l { move-column-right; }

	mod+j { focus-window-or-workspace-down; }
	mod+k { focus-window-or-workspace-up; }
	mod+shift+j { move-window-down-or-to-workspace-down; }
	mod+shift+k { move-window-up-or-to-workspace-up; }

	mod+1 { focus-workspace 1; }
	mod+2 { focus-workspace 2; }
	mod+3 { focus-workspace 3; }
	mod+4 { focus-workspace 4; }
	mod+5 { focus-workspace 5; }
	mod+shift+1 { move-column-to-workspace 1; }
	mod+shift+2 { move-column-to-workspace 2; }
	mod+shift+3 { move-column-to-workspace 3; }
	mod+shift+4 { move-column-to-workspace 4; }
	mod+shift+5 { move-column-to-workspace 5; }

	mod+o repeat=false { toggle-overview; }
	mod+q repeat=false { close-window; }
	mod+m { maximize-column; }
	mod+shift+m { fullscreen-window; }
	mod+space { switch-focus-between-floating-and-tiling; }
	mod+shift+space { toggle-window-floating; }

	mod+bracketleft  { consume-or-expel-window-left; }
	mod+bracketright { consume-or-expel-window-right; }
	mod+i { set-column-width "+10%"; }
	mod+u { set-column-width "-10%"; }
	mod+shift+i { set-window-height "+10%"; }
	mod+shift+u { set-window-height "-10%"; }

	mod+s { screenshot; }
	mod+shift+s { screenshot-screen; }
	mod+z { power-off-monitors; }
	mod+shift+escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
	mod+semicolon { focus-monitor-next; }
	mod+shift+semicolon { move-window-to-monitor-next; }

	XF86MonBrightnessUp   allow-when-locked=true { spawn-sh "brightnessctl -e4 -n2 set 5%+"; }
	XF86MonBrightnessDown allow-when-locked=true { spawn-sh "brightnessctl -e4 -n2 set 5%-"; }
	XF86AudioPlay         allow-when-locked=true { spawn-sh "playerctl play-pause"; }
	XF86AudioStop         allow-when-locked=true { spawn-sh "playerctl stop"; }
	XF86AudioPrev         allow-when-locked=true { spawn-sh "playerctl previous"; }
	XF86AudioNext         allow-when-locked=true { spawn-sh "playerctl next"; }
	XF86AudioRaiseVolume  allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
	XF86AudioLowerVolume  allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
	XF86AudioMute         allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
	XF86AudioMicMute      allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
}
